:root{
    --cinza: #333;
    --branco: #fff;
    --background:  #f8f9fa;
    --sombra: #343a40;
    --footer-cor-fonte: #aaa;
}
body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: var(--background);
      
    }

    .header {
      padding: 20px;
      text-align: center;
      
    }

    main {
      max-width: 800px;
      margin: 40px auto;
      padding: 0 20px;
      background-color:var(--branco);
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 8px;
    }
    a{
        text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    footer {
      text-align: center;
      padding: 20px;
      color: var(--footer-cor-fonte);
      font-size: 14px;
    }
